out/
__pycache__/
.vscode/
.github/
*.egg-info/
*.npz
*.json
*.mod
*.so
.DS_Store
tests/
scripts_hpc/
temp/
inp/
etc/
fortran/
*_cpu.py
*cutile.py
cmfgpu/phys/cutile/
grad*
downscale*