out/
__pycache__/
.vscode/
.github/
*.egg-info/
*.npz
*.json
*.mod
*.so
.DS_Store
scripts_*/
temp/
inp/
etc/
web/
fortran/
*_cpu.py
*cutile.py
cmfgpu/phys/cutile/
downscale*
.specstory/
